<a href="https://colab.research.google.com/github/VishalShinde3/loop/blob/main/program%20on%20for%20loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# 10 even,odd,natural,whole
for i in range(0,11):
  if i%2==0:
    print(i)

0
2
4
6
8
10

In [6]:
#  integer of their square first 10
for i in range(1,11):
  print(i,'\t',i*i)

1 	 1
2 	 4
3 	 9
4 	 16
5 	 25
6 	 36
7 	 49
8 	 64
9 	 81
10 	 100

In [7]:
#10,20,30,40,----------,300
for i in range (1,31):
  print(i*10,end=" ")

10 20 30 40 50 60 70 80 90 100 110 120 130 140 150 160 170 180 190 200 210 220 230 240 250 260 270 280 290 300

In [9]:
# 105,98,91,--------,7
for i in range(105,6,-7):
  print(i,end=" ")

105 98 91 84 77 70 63 56 49 42 35 28 21 14 7

In [10]:
# table 9 reverse
for i in range(108,8,-9):
  print(i,end=" ")

108 99 90 81 72 63 54 45 36 27 18 9

In [21]:
# first 10 natural no reverse
for i in range(10,1,-1):
  print(i,end=" ")

10 9 8 7 6 5 4 3 2

In [18]:
#sum of first 10 natural no
sum=0
for i in range(0,10):
  sum=sum+i
print(sum)

45

In [17]:
#sum of 10 even no
sum=0
for i in range(1,21):
  if i%2==0:
    sum=sum+i
print(sum)

110