<a href="https://colab.research.google.com/github/VishalShinde3/loop/blob/main/while%20loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
# write program on while loop the folloeing series 105,98,91,--------,7.
num=105
while(num<=7):
  print(num)
  num=num-7

In [5]:
# program on first 10 natural no in reversr order
num=10
while num>=1:
  print(num)
  num=num-1

10
9
8
7
6
5
4
3
2
1

In [12]:
# program on first 10 natural no sum
num=10
sum=0
while num>=1:
  sum= sum+num
  num=num-1
  print(sum)

10
19
27
34
40
45
49
52
54
55

In [13]:
# write program on sum first 10 even no
num=2
sum=0
while num<=20:
  sum=sum+num
  num=num+2
  print(sum)

2
6
12
20
30
42
56
72
90
110

In [15]:
# program on print table of a no entered from users
i=1
num=int(input("enter the no: "))
while i<=10:
  print(num,"*",i,"=",num*i)
  i=i+1

enter the no: 7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70